*{
    margin: 0;
    padding: 0;
    
}

.logo{
    width:20%;
    display: flex;
    align-items: center;
}
.logo img{
    width:150%;
    border: none;
    border-radius: 50px;
}

    
 .navbar{
     display:flex;
 }


.nav-list{
         width:50%;
         
}
.nav-list li{
        list-style: none;
        text-decoration: none;
        color:black;
        padding:26px 30px;
}
.nav-list li a:hover{

           color:orangered; 
}
.rightnav{
         
         width:50%;
}
#search{
    padding:5px;
    font-size: 17px;
    border: 2px solid black;
    border-radius: 9px;
}

.background{
     background: rgba(0, 0,0, 0.7)url('abc.jpg');
     background-size: cover;
     background-blend-mode: darken;

}
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  
  label {
    padding: 12px 12px 12px ;
    display: inline-block;
  }
  
  
  input[type=submit] {
    background-color: black;
    color: olive;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  
  .container {
    border-radius: 5px;
    padding: 20px;
  }
  
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .footer{
      height: 30px;
      text-align: center;
      position: relative;
  }
      
  .footer .footer-bottom {
       
       text-align: center;
       position:absolute;
       bottom:0px;
       left:0px;
       padding-top: 20px;
       width:50%;
       color: #000;
  }
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }